<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post, show_asterisk: true, 
                     show_feature_image: true, 
                     show_taxonomy: true, 
                     body_limit: 1200,
                     show_attribution: true,
                     show_horizontal_rule: true
    %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
